---
# tasks file for roles/bastion
- name: install packages
  apt:
    pkg:
    - git
    - ansible
    - python3
    update_cache: yes

- name: get repo
  git:
    repo: "{{ repo }}/{{ user}}/{{ proj }}.git"
    dest: "~/{{ proj }}/"

- name: deploy servers
  shell:
    cmd: ansible-playbook bastion-playbook.yml
    chdir: "~/{{ proj }}/Ansible"
