---
# tasks file for roles/filebeat
- name: APT - Add elastic repo key
  apt_key: url="https://artifacts.elastic.co/GPG-KEY-elasticsearch"

- name: Add Elastic repo into source list
  apt_repository:
    repo: deb https://artifacts.elastic.co/packages/7.x/apt stable main
    state: present
  become: true

#- name: Add repo to source list
#  shell: echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" >> /etc/apt/sources.list
#  become: true

- name: Install filebeat from APT repository
  apt: name=filebeat state=present force=true update_cache=yes

- name: Copy config
  template: src=filebeatConf.j2 dest=/etc/filebeat/filebeat.yml

- name: Force systemd to reread configs
  systemd: daemon_reload=yes

- name: Enable filebeat.service
  systemd:
    name: filebeat.service
    enabled: yes

- name: Start filebeat.service
  systemd: name=filebeat.service state=restarted
  become: true

- name: Configure filebeat modules
  shell: filebeat modules enable system nginx
#  args:
#    creates: "/etc/filebeat/modules.d/{{ item }}.yml"
#  with_items: "{{ filebeat_enable_modules }}"
#  notify: restart filebeat

#- name: make dashboards for kibana
#  shell: filebeat setup --dashboards

- name: Force systemd to reread configs
  systemd: daemon_reload=yes

- name: Start filebeat.service
  systemd: name=filebeat.service state=restarted
  become: true
