variable "oauth_token" {
    type = string
    default = "AQAAAAABZgLiAATuwZCa5yregkOCjtEhFlIVi12"
}
variable "cloud_id" {
    type = string
    default = "b1gbfmcnli0qbnh558o1"
}
variable "folder_id" {
    type = string
    default = "b1gcb5c8lbq0p898u2lj"
}
variable "service_account_id" {
    type = string
    default = "aje8qe21ed2akbdppgqt"
}
variable "image_id" {
    type = string
    default = "fd8ot0k0vde438jv0t8j"
}
variable "username" {
    type = string
    default = "ubuntu"
}
variable "password" {
    type = string
    default = "qwerty"
}
variable "public_key_path" {
    type = string
    default = "~/.ssh/id_rsa.pub"
}
