---
# tasks file for roles/elastic
- name: APT - Add elastic.co key
  apt_key: url="https://artifacts.elastic.co/GPG-KEY-elasticsearch" 

- name: Add Elastic repo into source list
  apt_repository:
    repo: deb https://artifacts.elastic.co/packages/7.x/apt stable main
    state: present
    update_cache=yes

- name: Install elasticsearch
  apt: name=elasticsearch state=present
  update_cache: yes
 
- name: Copy config
  template: src=elasticsearchConf.j2 dest=/etc/elasticsearch/elasticsearch.yml
	
- name: Force systemd to reread configs
  systemd: daemon_reload=yes
	
- name: Enable elasticsearch.service
  systemd:
    name: elasticsearch.service
    enabled: yes
	
- name: Start elasticsearch.service
  systemd: name=elasticsearch.service state=restarted
  become: true
