---
# tasks file for roles/elastic
- name: APT - Add elastic repo key
  apt_key: url="https://artifacts.elastic.co/GPG-KEY-elasticsearch" 

#- name: Add Elastic repo into source list
#  apt_repository:
#    repo: deb https://artifacts.elastic.co/packages/7.x/apt stable main
#    state: present

- name: Add repo to source list
  shell: echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" >> /etc/apt/sources.list.d/elasticsearch.list
  become: true

- name: Install elasticsearch
  apt: name=elasticsearch update_cache=yes
  become: true

- name: Copy config
  template: src=elasticsearchConf.j2 dest=/etc/elasticsearch/elasticsearch.yml

- name: Force systemd to reread configs
  systemd: daemon_reload=yes
  become: true

- name: Enable elasticsearch.service
  systemd:
    name: elasticsearch.service
    enabled: yes
  become: true

- name: Start elasticsearch.service
  systemd: name=elasticsearch.service state=restarted
  become: true
