---
# tasks file for roles/logstash
- name: APT - Add elastic repo key
  apt_key: url="https://artifacts.elastic.co/GPG-KEY-elasticsearch"

#- name: Add Elastic repo into source list
#  apt_repository:
#    repo: deb https://artifacts.elastic.co/packages/7.x/apt stable main
#    state: present

- name: Install Logstash
  apt: name=logstash state=present force=true update_cache=yes

#- name: Delete default config
#  ansible.builtin.file:
#    path: /etc/logstash/logstash.yml
#    state: absent

#- name: Copy logstash config
#  template: src=logstashConf.j2 dest=/etc/logstash/logstash.conf

- name: Copy logstash input.conf
  template: src=input.conf.j2 dest=/etc/logstash/conf.d/input.conf

- name: Copy logstash output.conf
  template: src=output.conf.j2 dest=/etc/logstash/conf.d/output.conf

- name: Copy logstash filter.conf
  template: src=filter.conf.j2 dest=/etc/logstash/conf.d/filter.conf

#- name: Change ownership of a logstash directory
#  ansible.builtin.file:
#    path: /etc/logstash/
#    state: directory
#    recurse: yes
#    owner: logstash

- name: Force systemd to reread configs
  systemd: daemon_reload=yes

- name: Enable logstash.service
  systemd:
    name: logstash.service
    enabled: yes

- name: Start logstash.service
  systemd: name=logstash.service state=restarted
  become: true
